{% extends 'base.html' %}

{% block title %}{{ super ()}}  - Index{% endblock %}

{% block content %}

<div class="cadastro">
    <h1>Cadastrar Usuário</h1>

    <div>
            <p>{{ valor }}</p>
    </div>

    <form action="http://127.0.0.1:5000/Delete" method="GET">
        <input class="entername" placeholder="Digite seu nome" name="nome" type="text">
        <input class="entername" placeholder="Digite uma senha" name="senha" type="text">
        <input class="entername" placeholder="Digite o nome do contato" name="contato" type="text">
        <button type="submit">Deletar</button>
    </form>
</div>

{% endblock %}